
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vecteezy.com/system/resources/previews/010/852/520/non_2x/cinema-entertainment-banner-vector.jpg);">
  <div class="container text-align-right">
    <h1><strong><%= link_to "WatchList", lists_path, class: "btn btn-flat fs-1", style: "margin-left: 900px;" %></strong></h1>
  </div>
</div>
<%= render "footer" %>
